Checks: >
  clang-analyzer-*,
  bugprone-*,
  cppcoreguidelines-pro-type-cstyle-cast,
  modernize-use-nodiscard,
  modernize-use-nullptr,
  modernize-use-override,
  performance-*,
  portability-*,
  readability-braces-around-statements,
  readability-const-return-type,
  readability-redundant-member-init
WarningsAsErrors: ''
HeaderFilterRegex: '.*'
FormatStyle: file
